.avatar {
  background-color: rgb(185, 172, 190);
  margin: 10px 0;
}

.boxWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  min-height: 80px;
  margin-bottom: 10px !important;

  & p {
    text-transform: none;
  }

  & > div {
    padding: 0 !important;
  }
}

.button {
  &.override {
    margin-top: 10px;
    height: 40px;
    font-size: 18px;
    width: 100%;
  }
}

.label {
  text-transform: capitalize;
}
